<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خدمات بلدية ظفار</title>

    <!-- The styles -->
    <link href="~/Content/css/bootstrap-cerulean_ar.min.css" rel="stylesheet">
    <link href="~/Content/css/charisma-app_ar.css" rel="stylesheet">
    <link href='~/Content/bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='~/Content/bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='~/Content/bower_components/chosen/chosen_ar.min.css' rel='stylesheet'>
    <link href='~/Content/bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='~/Content/bower_components/responsive-tables/responsive-tables_ar.css' rel='stylesheet'>
    <link href='~/Content/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='~/Content/css/jquery.noty.css' rel='stylesheet'>
    <link href='~/Content/css/noty_theme_default.css' rel='stylesheet'>
    <link href='~/Content/css/elfinder.min.css' rel='stylesheet'>
    <link href='~/Content/css/elfinder.theme.css' rel='stylesheet'>
    <link href='~/Content/css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='~/Content/css/uploadify.css' rel='stylesheet'>
    <link href='~/Content/css/animate.min.css' rel='stylesheet'>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/droid-arabic-kufi" type="text/css" />
    <!-- jQuery -->
    <script src="~/Content/bower_components/jquery/jquery.min.js"></script>
    @*<script src="~/Assets/js/jquery-3.4.1.min.js"></script>*@
    <style>
        .RemoveBorder {
            border: 0px solid rgba(221, 221, 221, 0.46) !important;
        }

        .glyphicon_new {
            top: 5px !important;
            font-size: 15pt !important;
        }
    </style>
</head>
<body>
    <!-- topbar starts -->
        <div class="container">
            <span> <img src="~/img/header/LOGOH.png" style="height:80px;" /></span>
            <span> <img src="~/img/header/Easy.png" style="height:80px; float:left; margin-left:5px;" /></span>
        </div>
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-inner container">
            @*<a class="navbar-brand" href="index.html" style="font-size:15px; font-weight:bold;">
                الرئيسية
            </a>*@
            @*<div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> إسم مستخدم النظام</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">الملف الشخصي</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html">تسجيل الخروج</a></li>
                </ul>
            </div>*@

            <!-- theme selector ends -->
            <ul class="collapse navbar-collapse nav navbar-nav top-menu" style="font-size:15px; font-weight:bold;">
                <li><a href="#"> الرئيسية</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        خدماتنا <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li><a href="#"> المركز الإعلامي</a></li>
                <li><a href="#" style="font-size:15px; font-weight:bold;"> تواصل معنا</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        الدخول <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">تسجيل الدخول</a></li>
                        <li><a href="#">الملف الشخصي</a></li>
                        <li><a href="#">الخدمات</a></li>
                        <li><a href="#">تسجيل الخروج</a></li>
                    </ul>
                </li>
            </ul>

        </div>
</div>
    <!-- topbar ends -->
    <div class="container">
        <div class="row">

            <div class="col-lg-9 col-sm-9">
                <div class="body-content">
                    @RenderBody()
                    <hr />
                    @*<footer>
                            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                        </footer>*@
                </div>
            </div>

            <!-- left menu starts -->
            <div class="col-sm-3 col-lg-3" style="margin-top:70px;">
                <div class="sidebar-nav">
                    <div class="nav-canvas">
                        <div class="nav-sm nav nav-stacked">
                        </div>
                        <ul class="nav nav-pills nav-stacked main-menu">
                            <li>
                                <a class="ajax-link" href="index.html" style="font-weight:bold; color:#309fda; font-size:14pt"><span> أكثر الخدمات إستخداما</span></a>
                            </li>
                            <li>
                                <a class="ajax-link RemoveBorder" href="ui.html"><i class="glyphicon glyphicon_new glyphicon-eye-open"></i><span> واجهة المستخدم</span></a>
                            </li>
                            <li>
                                <a class="ajax-link RemoveBorder" href="form.html"> <i class="glyphicon glyphicon_new glyphicon-edit"></i><span> نافذة المدخلات</span></a>
                            </li>
                            <li>
                                <a class="ajax-link RemoveBorder" href="chart.html"><i class="glyphicon glyphicon_new glyphicon-list-alt"></i><span> الرسوم البيانية</span></a>
                            </li>
                            <li>
                                <a class="ajax-link RemoveBorder" href="typography.html"><i class="glyphicon glyphicon_new glyphicon-font"></i><span> أحجام الخطوط</span></a>
                            </li>
                            <li>
                                <a class="ajax-link RemoveBorder" href="gallery.html"><i class="glyphicon glyphicon_new glyphicon-picture"></i><span> الصور</span></a>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="sidebar-nav" style="margin-top:20px;">
                    <div class="nav-canvas">
                        <div class="nav-sm nav nav-stacked">
                        </div>
                        <ul class="nav nav-pills nav-stacked main-menu">
                            <li>
                                <a class="ajax-link RemoveBorder" href="#"><i class="glyphicon glyphicon_new glyphicon-list-alt"></i><span> رأيك فى موقعنا</span></a>
                            </li>
                            <li>
                                <a class="ajax-link RemoveBorder" href="#"><i class="glyphicon glyphicon_new glyphicon-question-sign"></i><span> الأسئلة الشائعة</span></a>
                            </li>
                            <li>
                                <a class="ajax-link RemoveBorder" href="#"><i class="glyphicon glyphicon_new glyphicon-th-large"></i><span> استطلاع الرأي</span></a>
                            </li>
                            <li>
                                <a class="ajax-link RemoveBorder" href="#"><i class="glyphicon glyphicon_new glyphicon-eye-open"></i><span> إقتراحات</span></a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <!-- left menu ends -->

        </div>
    </div>
    <footer style="margin-top:20px;">
        <div class="navbar" style="margin-bottom:0px;">
            <div style="color:#ffffff">
                <div class="col-sm-3">
                    <div class="contact_block">
                        <div style="margin: 10px;"></div>
                        <span style="color: #09323e;font-weight: bold;font-size: 15px;">
                            تابعونا <br>
                        </span>
                        <div style="margin: 10px;"></div>
                        <div class="row">

                            <a href="http://www.instagram.com/Dhofar_Municipality" target="_blank">
                                <img src="~/img/Social_Media/insta.png">
                            </a>
                            <a href="http://www.instagram.com/Dhofar_Municipality" target="_blank">
                                <img src="~/img/Social_Media/facbook.png">
                            </a>
                            <a href="http://www.instagram.com/Dhofar_Municipality" target="_blank">
                                <img src="~/img/Social_Media/twiter.png">
                            </a>
                            <a href="http://www.instagram.com/Dhofar_Municipality" target="_blank">
                                <img src="~/img/Social_Media/youtube.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="contact_block">
                        <div style="margin: 10px;"></div>
                        <span style="color: #09323e;font-weight: bold;font-size: 15px;">
                            روابط خارجية <br>
                        </span>
                        <div style="margin: 10px;"></div>
                        <span style="line-height:1.9">
                            مهرجان صلالة<br>
                        </span>
                        <span style="line-height:1.9">
                            الهيئة العامة لحماية المستهلك <br>
                        </span>
                        <span style="line-height:1.9">
                            المركز الوطني للاحصاء والمعلومات<br><br />
                        </span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="contact_block">
                        <div style="margin: 10px;"></div>
                        <span style="color: #09323e;font-weight: bold;font-size: 15px;">
                            روابط خارجية <br>
                        </span>
                        <div style="margin: 10px;"></div>
                        <span>
                            خدمات الحكومة الالكترونية<br>
                        </span>
                        <span style="line-height:1.9">
                            المواقع الحكومية <br>
                        </span>
                        <span style="line-height:1.9">
                            شرطة عمان السلطانية<br>
                        </span>

                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="contact_block">
                        <div style="margin: 10px;"></div>
                        <span style="color: #09323e;font-weight: bold;font-size: 15px;">
                            مركز الاتصال
                        </span>
                        <div style="margin: 10px;"></div>
                        <span>
                            (1450) - (80071450)
                        </span>

                        <span>
                            admin@dm.gov.om
                        </span>
                    </div>
                    <div class="contact_block">
                        <hr />
                        <span>
                            بلدية ظفار ص ب 50 رب 211, محافظة ظفار ,<br />مدينة صلالة سلطنة عمان<br><br />
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color:#08323E;">
            <p style="color:#ffffff; text-align:center; margin:0px;">
                جميع الحقوق محفوظة بلدية ظفار ©
                <script type="text/javascript">document.write((new Date()).getFullYear())</script> م -
                <script type="text/javascript">var y = (new Date()).getFullYear(); var h = Math.round((y - 623) * (33 / 32)); document.write(h)</script> هـ
                .
            </p>
        </div>
    </footer>

    <script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- library for cookie management -->
    <script src="~/Scripts/js/jquery.cookie.js"></script>
    <!-- calender plugin -->
    <script src='~/Content/bower_components/moment/min/moment.min.js'></script>
    <script src='~/Content/bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
    <!-- data table plugin -->
    <script src='~/Scripts/js/jquery.dataTables.min.js'></script>
    <!-- select or dropdown enhancer -->
    <script src="~/Content/bower_components/chosen/chosen.jquery.min.js"></script>
    <!-- plugin for gallery image view -->
    <script src="~/Content/bower_components/colorbox/jquery.colorbox-min.js"></script>
    <!-- notification plugin -->
    <script src="~/Scripts/js/jquery.noty.js"></script>
    <!-- library for making tables responsive -->
    <script src="~/Content/bower_components/responsive-tables/responsive-tables.js"></script>
    <!-- tour plugin -->
    <script src="~/Content/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
    <!-- star rating plugin -->
    <script src="~/Scripts/js/jquery.raty.min.js"></script>
    <!-- for iOS style toggle switch -->
    <script src="~/Scripts/js/jquery.iphone.toggle.js"></script>
    <!-- autogrowing textarea plugin -->
    <script src="~/Scripts/js/jquery.autogrow-textarea.js"></script>
    <!-- multiple file upload plugin -->
    <script src="~/Scripts/js/jquery.uploadify-3.1.min.js"></script>
    <!-- history.js for cross-browser state change on ajax -->
    <script src="~/Scripts/js/jquery.history.js"></script>
    <!-- application script for Charisma demo -->
    <script src="~/Scripts/js/charisma.js"></script>

</body>
</html>
