@model DMeServices.Models.ViewModels.Permits.PermitsViewModel

    @{
        ViewBag.Title = "SaveSuccessPage";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Save Successful</h2>


    <div class="container1">
        @if (Url.RequestContext.RouteData.Values["id"] != null)
        {
            if (Url.RequestContext.RouteData.Values["id"].ToString() != "200")
            {
                if (Url.RequestContext.RouteData.Values["id"].ToString() == "305")
                {
                    <div class="table_main resulttb">
                        <div class="alert alert-danger">
                            <strong>Failure!</strong> The user can't be deleted because this user have related data!
                        </div>
                    </div>
                }

                if (Url.RequestContext.RouteData.Values["id"].ToString() == "500")
                {
                    <div class="table_main resulttb">
                        <div class="alert alert-danger">
                            <strong>Failure!</strong> General system error!
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="table_main resulttb">
                    <div class="alert alert-success">
                        <strong>Fail!</strong> Your submission has been denied!
                    </div>
                </div>
            }
        }




    </div>
