

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title" style="text-align:center" id="myModalLabel">
        عرض الملف
    </h4>
</div>
<style type="text/css">
    html, body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0px;
    }
</style>
@*<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>*@
@*<script src="~/Scripts/jquery-1.9.1.min.js"></script>*@
<script type="text/javascript">
    function autoResize(iframe) {
        $(iframe).height($(iframe).contents().find('html').height());
    }
</script>
<style>
    .modal-open {
        direction: unset;
    }

    .modal-dialog {
        width: 90%;
        margin-top: 10px auto;
    }

    #scaled-frame > img {
        background-color: #ff6a00;
    }
</style>
<script type="text/javascript">
    function unloadModal() {
        $('#MainModal').modal('hide');
    }

</script>
@*<script type="text/javascript">
    jQuery(document).ready(function () {
        var iframe = $("#scaled-frame");
        ////var iframe = document.getElementById('scaled-frame');
        var style = document.createElement('style');
        style.textContent =
            'body {' +
            '  cursor: zoom-out' +
            '}'
           ;
        iframe.context.head.appendChild(style);
        console.log(iframe.context.head.appendChild(style));
    });
</script>*@


<div class="modal-body" style="padding:0px">
    <div class="form-group">
        <div>
            <div style="text-align:center">
                <iframe id="scaled-frame" style="width:100%; height:550px" src="@Url.Action("DisplayFiles", new { @controller = "BuildingPermits", @Id = ViewBag.ID })">
                    <p>Your browser does not support iframes.</p>
                </iframe>
            </div>
        </div>
    </div>
</div>


