
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}


<div class="col-lg-9 col-sm-9">
    <div class="body-content">
        <div class="row">
            <div style="text-align:center;">
                <img style="width:30%" src="@Url.Content("~/img/SuccessIMG.png")" />
                <h1>تم الارسال بنجاح</h1>
                <br />
                <h1> رقم المعاملة <strong> @ViewBag.TranseID </strong>  </h1>
                <br />

            </div>
        </div>
    </div>
</div>


