@{
    ViewBag.Title = "SaveNewPermitsSuccessPage";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@*<ul class="breadcrumb">
    <li>
        <a href="#">الرئيسية</a>
    </li>
    <li>
        <a href="#">أوامر التفتيش</a>
    </li>
</ul>*@
<div class="col-lg-9 col-sm-9">
    <div class="body-content">
        <div class="row">
            <div style="text-align:center;">
                <img style="width:30%" src="~/img/SuccessIMG.png" />
                <h1>تم تسليم طلبك بنجاح</h1>
                <h3>@*يرجي دفع رسوم التوريد ببلدية صلالة قسم التحصيل*@</h3>
                <h4>سيتم مراجعة الطلب واستكمال الإجراءات</h4>
            </div>
        </div>
    </div>
</div>

