
@{
    ViewBag.Title = "Supervisions";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<ul class="breadcrumb">
    <li>
        <a href="#">الرئيسية</a>
    </li>
    <li>
        <a href="#">طلبات رقابة البناء</a>
    </li>
</ul>

<div class="col-lg-12 col-sm-12">
    <div class="body-content">
        <div id="DivManager" class="col-lg-12">
            @{ Html.RenderPartial("_ManagerSupervisions");}
        </div>


        <div id="DivEngineer" class="col-lg-12">
            @{ Html.RenderPartial("_EngineerSupervisions");}
        </div>
</div>
</div>