
@{
    ViewBag.Title = "SaveRevenueSuccessPage";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<div class="col-lg-9 col-sm-9">
    <div class="body-content">
        <div class="row">
            <div style="text-align:center;">
                <img style="width:27%" src="~/img/Success IMG.png" />
                <h1>تم انهاء العملية بنجاح</h1>
                <br />
                <h3> رقم الفاتورة <strong> @ViewBag.TranseID </strong>  </h3>
                <br />
                <a href="Revenue_checkout" class="btn btn-success"> إنشاء فاتورة جديدة</a>
                <br />
            </div>
        </div>
    </div>
</div>

