
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}


<div class="col-lg-12 col-sm-12">
    <div class="body-content">
        <div class="row">
            <div style="text-align:center;">
                <img style="width:30%" src="@Url.Content("~/img/SuccessIMG.png")" />
                <h1>تم تسليم طلبك بنجاح</h1>
                <br />
                <h1> رقم المعاملة <strong> @ViewBag.TranseID </strong>  </h1>
                <br />

                <h3>ستصلك رسالة عبر البريد الإلكتروني و هاتفك المحمول</h3>
                <a style="float:left" onclick="return Loading();" href="@Url.Action(ViewBag.ShowAdd ? "ConsultantIndex" : "OwnerIndex","BuildingSupervision")" class="btn btn-primary" role="button">الصفحة السابقة</a>
            </div>
        </div>
    </div>
</div>


