<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UserNameSMS" value="dmtender_ws" />
    <add key="PasswordSMS" value="Dpd@321123" />
    <add key="WebSiteURL" value="http://localhost:65435/" />
    <!--<add key="RadPdfConnectionString" value="Server=DM-MTF159\MSQL14;Database=eServices;user id=sa;password=DM-MTF159\MSQL14;Trusted_Connection=No;" />-->
    <!--<add key="RadPdfConnectionString" value="Server=DM-MAA213\MAASQL;Database=RadPdf;Trusted_Connection=Yes;"/>-->
    <!--<add key="RadPdfConnectionString" value="Server=SM-SQLDBSRV;Database=eServices;user id=devteam;password=dev@123;Trusted_Connection=No;" />-->
    <add key="RadPdfConnectionString" value="Server= DM-TESTSRV1\SQLEXPRESS;Database=eServices;user id=devteam;password=dev@123;Trusted_Connection=No;" />
    <add key="RadPdfIntegrationProvider" value="DMeServicesInternal.Web.RadPdf.CustomPdfIntegrationProvider,DMeServicesInternal.Web" />
    <!-- Use of an integration provider is optional. Delete this line if not needed. If the project assembly name is changed, "CS_MVC3" should be changed. -->
    <add key="RadPdfLicenseKey" value="LJ+WaNhBtG0krKr3kx5H7mydbdcCZT2saN/koitu67QHsTFXJAKvM2TBEoGdtvaaLWM35TkGWfjGIWkLGM+C/8AhLD3CwdOfhnvi6eGJAXwkSi0Ej9RtPB3TtaXlBUwu2h9xiIPTR5mBHMEGs8TdDGeTk4KQGjIHAXmah+nOB/UA/wEAAAAAAF4oMW77MdhIXigyrEZ62EhEaG9mYXIgTXVuaWNpcGFsaXR5" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
      <add path="RadPdf.axd" verb="GET,POST" type="RadPdf.Web.HttpHandler.PdfHttpHandler" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <authentication mode="Windows">
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2.0.0" newVersion="15.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="RadPdf.axd" verb="GET,POST" name="PdfHttpHandler" preCondition="integratedMode" type="RadPdf.Web.HttpHandler.PdfHttpHandler" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="eServicesEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DM-TESTSRV1\SQLEXPRESS;initial catalog=eServices;persist security info=True;user id=devteam;password=dev@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="eServicesEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SM-SQLDBSRV;initial catalog=eServices;persist security info=True;user id=devteam;password=dev@123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />-->
    <!--<add name="eServicesEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DM-MTF159\MSQL14;initial catalog=eServices;persist security info=True;user id=sa;password=Yousef1480;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />-->
    <!--<add name="DMeServicesLandSurveyContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=DMeServicesLandSurveyContext-20200701125615; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|DMeServicesLandSurveyContext-20200701125615.mdf"
      providerName="System.Data.SqlClient" />
    <add name="DMeServicesSurveysContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=DMeServicesSurveysContext-20200702104628; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|DMeServicesSurveysContext-20200702104628.mdf"
      providerName="System.Data.SqlClient" />
    <add name="DMeServicesInternalWebContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=DMeServicesInternalWebContext-20200702110305; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|DMeServicesInternalWebContext-20200702110305.mdf"
      providerName="System.Data.SqlClient" />
    <add name="DMeServicesLandSurveysContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=DMeServicesLandSurveysContext-20200705140818; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|DMeServicesLandSurveysContext-20200705140818.mdf"
      providerName="System.Data.SqlClient" />
    <add name="DMeServicesInternalSurveysContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=DMeServicesInternalSurveysContext-20200705140923; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|DMeServicesInternalSurveysContext-20200705140923.mdf"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>